@using _02_Service_Lifetimes.Repositories
@model IScopedRepository

<h1>Scoped Service Lifetime</h1>
<p class="mt-5">
    <strong>PARENT:</strong>
    <span>@Model.GetGuid()</span>
</p>

<partial name="_ScopedPartial" />